<!DOCTYPE html>
<html>
<head>
  <title>ProjectOWL</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="static/js/jquery-1.11.3.js"></script>
  <script>
  {% block javascript %}
  {% endblock %}
  </script>
</head>
  <body>
    <header>
      <h1>projectOWL</h1>
      <nav>
        <a href="{{ url_for('home') }}">home</a>
        <a href="{{ url_for('dragons') }}">dragons</a>
      </nav>
    </header>
    <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  <div class="footer">
    <p>Hello there<p/>
</div>
  </body>
</html>
