{% extends "layout.html" %}

{% block javascript %}

$(document).ready(function() {

  fetch('/time').then(function (response) {
    response.text().then(function (text) {
      Clock.start( parseInt(text) );
      console.log("timestamp: " + text );
    })
  })

  setInterval(function(){
    document.getElementById("L").src = "static/thumbs/202left.png?" + new Date().getTime();
    document.getElementById("R").src = "static/thumbs/203right.png?" + new Date().getTime();
  }, 5000);

  setInterval(function(){
    fetch('/state').then(function (response) {
      if (response.ok){
        response.text().then(function (text) {
          //console.log("case: ", text);
          switch(text) {
            case 'active':
            enableButton('stopBut');
            disableButton('startBut');
            enableButton('downBut');
            document.getElementById('actTxt').classList.remove('hidden');
            document.getElementById('idleTxt').classList.add('hidden');
            document.getElementById('agoTxt').classList.remove('hidden');
            break;
            case 'idle':
            enableButton('startBut');
            disableButton('stopBut');
            enableButton('downBut');
            document.getElementById('actTxt').classList.add('hidden');
            document.getElementById('stopTxt').classList.add('hidden');
            document.getElementById('idleTxt').classList.remove('hidden');
            document.getElementById('agoTxt').classList.remove('hidden');
            break;
          }
        });
      } else { console.log("Some error: ", text); }
    })
  }, 500);

  var Clock = {
    start: function (seconds) {
      var self = this;
      this.interval = setInterval(function () {
        seconds += 1;
        $("#hour").text(Math.floor(seconds / 3600));
        $("#min").text(Math.floor(seconds / 60 % 60));
        $("#sec").text(parseInt(seconds % 60));
      }, 1000);
    },
    stop: function () {
      clearInterval(this.interval);
      delete this.interval;
    },
  };

  document.getElementById('startBut').onclick = function (event) {
    document.getElementById('actTxt').classList.remove('hidden');
    document.getElementById('idleTxt').classList.add('hidden');
    disableButton('startBut');
    disableButton('stopBut');
    disableButton('downBut');
    fetch('/start_rec');
    Clock.stop();
    Clock.start(0);
  }
  document.getElementById('stopBut').onclick = function (event) {
    document.getElementById('actTxt').classList.add('hidden');
    document.getElementById('idleTxt').classList.add('hidden');
    document.getElementById('agoTxt').classList.add('hidden');
    document.getElementById('stopTxt').classList.remove('hidden');
    disableButton('stopBut');
    disableButton('startBut');
    disableButton('downBut');
    fetch('/stop_rec');
    Clock.stop();
  }
  document.getElementById('downBut').onclick = function (event) {
    fetch('/down_rec').then(function (response) {
      if (response.ok){
        window.location.assign('/down_rec');
        disableButton('stopBut');
        disableButton('startBut');
        disableButton('downBut');
      }
    })
  }
});


function disableButton(buttonid){
  var butt = document.getElementById(buttonid);
  butt.disabled = true;
  butt.classList.add('disabled');
  butt.classList.remove('active');
}
function enableButton(buttonid){
  var butt = document.getElementById(buttonid);
  butt.disabled = false;
  butt.classList.add('active');
  butt.classList.remove('disabled');
}

{% endblock %}

{% block content %}
<div class=capsule id="imagesMain">
  <img id="L" src="{{ url_for('static', filename="thumbs/202left.png" )}}">
  <img id="R" src="{{ url_for('static', filename="thumbs/203right.png" )}}">
</div>

<div align="center">
    <button class="button disabled" id="startBut">start recording</button>
    <button class="button disabled" id="stopBut">stop recording</button>
    <div class="dropdown">
      <button class="button" id="downBut">download a recording</button>
      <div class="dropdown-content" id="dropdownContent">
        {% for file in files %}
          <a href="/clips/{{ file }}">{{ file }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<hr>
<div align="center">
    <span class="paragraph hidden" id="idleTxt" >Last recording ended</span>
    <span class="paragraph hidden" id="stopTxt" >The recording ended at</span>
    <span class="paragraph hidden" id="actTxt" >A recording was started</span>
    <span class="paragraph tooltip" id="timeBox">
        <span id="hour">0</span><span>h:</span>
        <span id="min">0</span><span>m:</span>
        <span id="sec">0</span><span>s</span>
        <span class="tooltiptext">Time of recording</span>
    </span>
    <span class="paragraph hidden" id="agoTxt" >ago</span>
</div>
{% endblock %}
