{% extends "layout.html" %}

{% block javascript %}
  $(document).ready(function() {
    setInterval(function(){
      //console.log("update image");
      document.getElementById("L").src = "static/thumbs/202left.png?" + new Date().getTime();
      document.getElementById("R").src = "static/thumbs/203right.png?" + new Date().getTime();
      fetch('/state').then(function (response) {
        //console.log(response.text());
        if (response.active){
            console.log(ACTIVE);
            //document.getElementById('startBut').disabled = true;
            //document.getElementById('stopBut').disabled = false;
            document.getElementById('startBut').classList.remove('active');
            document.getElementById('startBut').classList.add('disabled');
            document.getElementById('stopBut').classList.remove('disabled');
            document.getElementById('stopBut').classList.add('active');
        } else if (response.idle){
            console.log("IDLE");
            //document.getElementById('startBut').disabled = false;
            //document.getElementById('stopBut').disabled = true;
            document.getElementById('stopBut').classList.remove('disabled');
            document.getElementById('stopBut').classList.add('active');
            document.getElementById('startBut').classList.remove('active');
            document.getElementById('startBut').classList.add('disabled');
            }
        return response.text()
      })
    }, 3000);
/*
    document.getElementById('startBut').onclick = function (event) {
      var startButton = this,
          stopButton = document.getElementById('stopBut');
      fetch('/start_rec').then(function (response) {
        if (response.ok) {
          startButton.classList.remove('active');
          startButton.classList.add('disabled');
          stopButton.classList.add('active');
          stopButton.classList.remove('disabled');
        }
      })
    }
*/
    document.getElementById('startBut').onclick = function (event) {
      var startButton = this,
          stopButton = document.getElementById('stopBut');
      fetch('/state').then(function (response) {
          //startButton.disabled = true;
          //stopButton.disabled = false;
          startButton.classList.remove('active');
          startButton.classList.add('disabled');
          stopButton.classList.add('active');
          stopButton.classList.remove('disabled');
      })
      fetch('/start_rec')
    }

    document.getElementById('stopBut').onclick = function (event) {
      var stopButton = this,
          startButton = document.getElementById('startBut');
      fetch('/stop_rec').then(function (response) {
          //startButton.disabled = false;
          //stopButton.disabled = true;
          stopButton.classList.remove('active');
          stopButton.classList.add('disabled');
          startButton.classList.add('active');
          startButton.classList.remove('disabled');
      })
    }
  });
{% endblock %}

{% block content %}
<div id="imagesMain">
    <img id="L" src="{{ url_for('static',filename="thumbs/202left.png" )}}">
    <img id="R" src="{{ url_for('static',filename="thumbs/203right.png" )}}">
</div>
<div align="center">
      <button class="button active" id="startBut">start recording</button>
      <button class="button disabled" id="stopBut">stop recording</button>
</div>

{% endblock %}
