{% extends "layout.html" %}

{% block javascript %}

$(document).ready(function() {
    setInterval(function(){

        document.getElementById("L").src = "static/thumbs/202left.png?" + new Date().getTime();
        document.getElementById("R").src = "static/thumbs/203right.png?" + new Date().getTime();

        fetch('/state').then(function (response) {
            if (response.ok){
                response.text().then(function (text) {
                    console.log("case: ", text);
                    switch(text) {
                        case 'active':
                            document.getElementById('startBut').disabled = true;
                            document.getElementById('stopBut').disabled = false;
                            document.getElementById('stopBut').classList.remove('disabled');
                            document.getElementById('stopBut').classList.add('active');
                            document.getElementById('startBut').classList.remove('active');
                            document.getElementById('startBut').classList.add('disabled');
                        break;
                        case 'idle':
                            document.getElementById('startBut').disabled = false;
                            document.getElementById('stopBut').disabled = true;
                            document.getElementById('startBut').classList.remove('disabled');
                            document.getElementById('startBut').classList.add('active');
                            document.getElementById('stopBut').classList.remove('active');
                            document.getElementById('stopBut').classList.add('disabled');
                        break;
                    }
                });
            } else {
                console.log("Some error: ", text);
                }
        })
    }, 3000); //END setInterval

    
    
    var Clock = {
        totalSeconds: 0,
        
        start: function () {
            var self = this;
            self.totalSeconds = 0;
            
            this.interval = setInterval(function () {
                self.totalSeconds += 1;
                $("#hour").text(Math.floor(self.totalSeconds / 3600));
                $("#min").text(Math.floor(self.totalSeconds / 60 % 60));
                $("#sec").text(parseInt(self.totalSeconds % 60));
            }, 1000);
        },
        stop: function () {
            clearInterval(this.interval);
            delete this.interval;
        },
    };
    
    
    document.getElementById('startBut').onclick = function (event) {
        var startButton = this,
            stopButton = document.getElementById('stopBut');
        fetch('/state').then(function (response) {
            startButton.disabled = true;
            stopButton.disabled = false;
            startButton.classList.remove('active');
            startButton.classList.add('disabled');
            stopButton.classList.add('active');
            stopButton.classList.remove('disabled');
        })
        fetch('/start_rec')
        Clock.start();
    }
    document.getElementById('stopBut').onclick = function (event) {
        var stopButton = this,
            startButton = document.getElementById('startBut');
        fetch('/stop_rec').then(function (response) {
            startButton.disabled = false;
            stopButton.disabled = true;
            stopButton.classList.remove('active');
            stopButton.classList.add('disabled');
            startButton.classList.add('active');
            startButton.classList.remove('disabled');
        })
        Clock.stop();
    }
});

{% endblock %}

{% block content %}
<div id="imagesMain">
    <img id="L" src="{{ url_for('static', filename="thumbs/202left.png" )}}">
    <img id="R" src="{{ url_for('static', filename="thumbs/203right.png" )}}">
</div>
<div align="center">
    <button class="button disabled" id="startBut">start recording</button>
    <button class="button disabled" id="stopBut">stop recording</button>
</div>
<div align="center">
    <timer class="timer tooltip" id="timeBox">
        <span id="hour">0</span>H :
        <span id="min">0</span>M :
        <span id="sec">0</span>S 
        <span class="tooltiptext">recording time</span>
    </timer>
</div>

{% endblock %}




















